.foorm{
    background-color:cornsilk;
    width:604px; 
    height:675px; 
    padding:30px; 
    margin:auto
}

h1{
    margin:10px auto 20px;
    width:260px;
    font-family:'Trebuchet MS';
    font-size:30px;
    color:white;
    text-align:center;
    padding:10px;
    background-color:#3ab7e8;
    border:solid 2px #3784de;
}

h2{
    font-size:20px;
    font-family:Geneva;
    text-align:center;
}

label{
    font-size:16px;
    font-family:Verdana;
    display:inline-block;
    width:150px;
}

input{
    font-family:Verdana;
    display:inline-block;
    width:148px;
    border:solid 1px black;
    margin:0px auto 20px 0px;
}

.center{
    margin:auto 40px 10px;
}

.right{
    margin:auto auto 10px 30px;
}

.left{
    margin:auto 30px 10px auto;
}

.icenter{
    margin:auto 40px 10px;
    float:center;
}

.imleft{
    margin:auto auto auto 235px
}

img{
    width:125px; 
    margin:auto 240px;
}

.centered{
    text-align:center;
    margin:10px auto auto auto;
}
